### Symfony ###
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
var/

### PhpStorm ###
.idea/

### Mac files ###
.DS_Store
web/uploads/avatar/4.jpeg
web/uploads/avatar/5.jpeg
web/uploads/photos/1.jpg
web/uploads/photos/2.jpeg
